@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@import "tailwind-animations";

@font-face {
  font-family: "Inter-BlackItalic";
  src: url("/fonts/inter/Inter_18pt-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-ExtraBoldItalic";
  src: url("/fonts/inter/Inter_18pt-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/inter/Inter_18pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-BoldItalic";
  src: url("/fonts/inter/Inter_18pt-BoldItalic.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary-400: #00E4F5;
  --color-primary-500: #006269;
  --color-primary-600: #006D75;
  --color-secondary-400: #F5E400;
  --color-secondary-500: #F5A600;
  --color-secondary-600: #F57A00;

  /*Typografi */
  --font-header: "Inter-ExtraBoldItalic";
  --font-subheader: "Inter-BlackItalic";
  --font-button: "Inter-Regular";
  --font-body: "Inter-Regular";
  --font-link: "Inter-BoldItalic"

  
}

.h1 {
  @apply font-header uppercase text-[30px] xl:text-[48px];
}
.s1 {
  @apply font-subheader uppercase text-[20px] xl:text-[24px];
}
.p1 {
  @apply font-body normal-case text-[20px];
}
.p2 {
  @apply font-body normal-case text-[15px] xl:text-[20px];
}
.p3 {
  @apply font-body normal-case text-[10px];
}
.a1 {
  @apply font-link uppercase text-[15px] xl:text-[20px];
}


@layer base {

}

@layer components{

}

@layer utilities{
  
}