@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import 'tailwind-animations';
@import "tailwindcss-intersect";

@font-face {
  font-family: 'Inter-BlackItalic';
  src: url('/fonts/inter/Inter_24pt-BlackItalic.tff') format('truetype');
}

@font-face {
  font-family: 'Inter-ExtraBoldItalic';
  src: url('/fonts/inter/Inter_18pt-ExtraBoldItalic.tff') format('truetype');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('/fonts/inter/Inter_18pt-Regular.tff') format('truetype');
}

@font-face {
  font-family: 'Inter-BoldItalic';
  src: url('/fonts/inter/Inter_18pt-BoldItalic.tff') format('truetype');
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary-400: #00E4F5;
  --color-primary-500: #006269;
  --color-primary-600: #006D75;
  --color-secondary-400: #F5E400;
  --color-secondary-500: #F5A600;
  --color-secondary-600: #F57A00;

  /*Typografi */
  --font-header: "Inter-ExtraBoldItalic";
  --font-subheader: "Inter-BlackItalic";
  --font-button: "Inter-Regular";
  --font-body: "Inter-Regular";
  --font-link: "Inter-BoldItalic"

  
}

.h1 {
  @apply font-header text-[30px];
}
.s1 {
  @apply font-subheader text-[20px];
}
.p1 {
  @apply font-body text-[15px];
}
.l1 {
  @apply font-link text-[15px];
}


@layer base {

}

@layer components{

}

@layer utilities{
  
}